@theme {
  --color-charcoal-950: #090d0b;
  --color-charcoal-900: #101611;
  --color-charcoal-800: #172018;
  --color-apple-300: #b8ff58;
  --color-apple-400: #8ee000;
  --color-apple-500: #73bd00;
}
